body {
  font-family: sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/816/original/globe.jpg?1678426867");
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 360px;
  margin: 30px auto;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px 30px 20px 30px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0 auto;
}

select {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
  padding: 3px;
}

.city {
  font-size: 15px;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}

.date {
  font-size: 13px;
}

.time {
  font-size: 32px;
  font-weight: bold;
}

.time small {
  font-size: 15px;
}

hr {
  display: block;
  border-style: dashed;
  border-color: rgb(221, 221, 221);
}

footer {
  text-align: center;
  color: rgb(114, 114, 255);
  margin-bottom: 50px;
}

a {
  color: rgb(69, 69, 149);
}

#refresh {
  font-size: 13px;
  margin-top: 15px;
}
